<%- include("partials/header"); -%>

<h1>Contact</h1>
<p> <%= contactContent %> </p><br><br>
<i class="fab fa-linkedin"></i><a class="footer-link" href="https://www.linkedin.com/in/shrijan-singh-51a664201/">  LinkedIn</a> <br>
<i class="fab fa-facebook-f"></i><a class="footer-link" href="https://www.facebook.com/profile.php?id=100006396765796">  Facebook</a> <br>
<i class="fab fa-instagram"></i><a class="footer-link" href="https://www.instagram.com/_shrijan_rajput_/">   Instagram</a> <br>

<%- include("partials/footer"); -%>
